In this project, data cleaning process is conducted. There are 4 main questions to consider: 1) Can you make the salary column into integers?; 2) What information can you extract out of job descriptions?; 3) How can you remove the numbers from the company name?; 4) How can you create some new features? (e.g. state column from the location column). After these 4 questions, there were performed additional modifications over data. Finally, a cleaned dataset is presented.

In [1]:
import pandas as pd

df = pd.read_csv('glassdoor_jobs.csv')
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)

In [2]:
df.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
dtype: object

In [3]:
# DUPLICATED ROWS
df[df.duplicated(keep=False)].head(15)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
19,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
24,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
54,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
58,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
60,College Graduate - Data Science (BS/MS),Employer Provided Salary:$106K - $159K,Job Description\n\nIntel is a company of bold ...,4.1,INTEL\n4.1,"Santa Clara, CA",10000+ Employees,1968,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
62,Data Scientist,Employer Provided Salary:$82K - $140K,Requisition ID: 377008\nWork Area: Information...,4.4,SAP\n4.4,"Pittsburgh, PA",10000+ Employees,1972,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD)
81,Data Scientist Trainee,$79K - $118K (Glassdoor est.),Overview:\nAxle Informatics is a scientific re...,3.4,Axle Informatics\n3.4,"Rockville, MD",501 to 1000 Employees,2002,Company - Private,Research & Development,Management & Consulting,$100 to $500 million (USD)
84,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
96,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
100,Data Scientist I - FP&A and StressTesting,-1,"Why USAA?\nAt USAA, we have an important missi...",3.4,USAA\n3.4,"San Antonio, TX",10000+ Employees,1922,Company - Private,Insurance Carriers,Insurance,$25 to $100 million (USD)
104,Data Analytics Engineer,Employer Provided Salary:$85K - $115K,Job Location\nCincinnati\nJob Description\nIf ...,4.1,Procter & Gamble\n4.1,"Dover, DE",10000+ Employees,1837,Company - Public,Consumer Product Manufacturing,Manufacturing,$10+ billion (USD)
118,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
120,Data Scientist,Employer Provided Salary:$82K - $140K,Requisition ID: 377008\nWork Area: Information...,4.4,SAP\n4.4,"Pittsburgh, PA",10000+ Employees,1972,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD)
129,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1

In [4]:
# Let's remove duplicates and remain only one occurrence

df.drop_duplicates(keep='first', inplace=True)

In [5]:
# Let's reset index
df.reset_index(drop=True)
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)

In [6]:
#Let's remove rows where 'Job title' and 'Salary Estimate' are equal to -1
df = df[(df['Job Title'] != '-1') & (df['Salary Estimate'] != '-1')]
df.reset_index(drop=True, inplace=True)

In [7]:
#Let's work with 'Job Title' column
df['Job Title'].unique()

array(['2024 University Graduate - Data Scientist',
       'Data Scientist – Entry Level 2024', 'Data Scientist 2',
       'Entry Level Data Scientist 2023/2024', 'Data Scientist (C)',
       'Senior Data Scientist', 'Data Scientist',
       'Data Scientist- CalAIM', 'Junior Data Scientist',
       'Entry Level - Associate Data Scientist - Commercial',
       'Data Scientist, Analytics', 'Grace Hopper 2023: Data Scientist',
       'Data Scientist - NLP', 'Data Scientist, Product',
       'Data Scientist II',
       'Data Scientist (Omics data analysis (genetics, genomics and proteomics))',
       'Data Scientist, NLP', 'Data Analyst Associate',
       'Aspire Program, Early Career -Data Scientist I',
       'Data Scientist - Level 1', 'Data Scientist - BCG X',
       'College Graduate - Data Science (BS/MS)',
       'Jr. Data Scientist, Minerva Analytics',
       'Research Data Science, Future Leaders Graduate Program, US, 2024',
       'Data Scientist Level III', 'Associate Data Scientist',
       'Research and Development Engineer - Co-op - Engineer or Scientist',
       'Environmental Data Scientist I', 'Research Data Analyst',
       'Data Scientist Trainee',
       'Research & Development Engineer Co-op (Associate Scientist)',
       'Junior Data Scientist (Co-op)', 'Data Scientist/Data Analyst',
       'Analytics Scientist',
       'Research & Development Engineer (Associate Scientist) - Full Time Campus',
       'Data Analytics Engineer', 'Data Scientist 1',
       'Machine Learning Data Scientist',
       'Data Scientist (L5), Member Product',
       'Revenue Data Scientist - Industry Solutions',
       'Data Scientist/Salesforce Administrator',
       'Data Scientist Specialist', 'Data Specialist',
       '2024 Co-Op, Data Science and Artificial Intelligence',
       'Data Analytics Manager', 'Data Scientist - Generative AI',
       'Core Tech TPM, Data and ML',
       'Public Notice for Direct Hire (Data Modernization)',
       'DATA SCIENTIST', 'Entry Level - Associate Consultant (Federal)',
       'Data Scientist/Database Administrator',
       'Operations Research Data Scientist', 'Data Analyst, Marketing',
       'Principal Data Scientist',
       'Junior Consultant in Strategy & Data Science - New York',
       'Entry Level Data Science - December 2023 and May 2024 Grads',
       'Career Consulting Data Scientist - National - College Program 2024',
       'Scientist I', 'Jr Data Scientist', 'Contract - Data Scientist',
       'E-commerce Data Scientist', 'Data Scientist III',
       'Data Scientist, Dependency Planning', 'Sr Data Scientist',
       'Statistician- Data Scientist III- PCAPP',
       'Data Scientist, Analytics - Ads', 'Remote Data Scientist',
       'Data Scientist, Clinical Analytics', 'Data Scientist, RegLab',
       'ViiV Healthcare (GSK) US Data Scientist',
       'Senior Data Scientist, Ops Data Platform',
       'Product Data Scientist', 'Data Scientist - AI/ML',
       'Data Scientist II (Remote)',
       'Data Scientist (Data Platforms & Applied Intelligence)',
       'Data Scientist, Tiktok Ads-Vertical Solutions',
       'Quantitative Analyst/Data Scientist',
       'Software Engineer - Data Scientist',
       'Data Scientist, Machine Learning',
       'Principal Data Scientist - Machine Learning', 'Data Engineer',
       'Machine Learning / NLP Data Scientist',
       'Principal Data Scientist, Machine Learning',
       'Sr. Data Scientist (Starlink Product)',
       'Data Scientist (Artificial Intelligence / Machine Learning)',
       'Specialist, Data Scientist',
       'Data Scientist Co-op - Masters Degree',
       'Senior Data Scientist (Product Analytics)',
       'Research Associate Data Scientist - Nursing Research',
       'Senior People Data Scientist', 'USA-Data Scientist II (Clinical)',
       'Data Scientist, Sales Insights',
       'Machine Learning Data Scientist - Growth Algorithms',
       'Senior Data Scientist - Shipping Optimization', 'DATA ENGINEER',
       'Principal Technical Data Scientist',
       'Data Scientist Jr. / Physical Scientist Jr.',
       'Statistician (Data Scientist)',
       'MATERNAL AND CHILD HEALTH DATA SCIENTIST/EPIDEMIOLOGIST',
       'Data Scientist, Analytics & Insights',
       'Data Scientist, Model e Customer Business Systems',
       'Mathematical Statistician or Statistician (Data Scientist)',
       'Senior Data Scientist, AIML, GenAI, NLP, CV',
       'Data Scientist, Infrastructure Foundation',
       'Sr. Data Scientist, Content',
       'Managing Director Data Scientist Engineer',
       'Staff Data Scientist',
       'Data Science Analyst I-Personalized Medicine',
       'Quality Systems Data Scientist (Hybrid or Remote)',
       'Data Scientist, Product Engagement', 'Sr Clinical Data Scientist',
       'Data Scientist 2 - Cross Function, Machine Learning & Analytical Data Products - Hybrid - Seattle or Los Angeles',
       'Data Engineer / Data Scientist',
       'Data Scientist - SQL / SAS & Tableau',
       'Innovation - Data Scientist', 'Principal Data Scientist, Shopbop',
       'Data Scientist - Python - AI/ML',
       'College Graduate - Physics (BS/MS)', 'iO Data Scientist',
       'Principal Data Scientist, Applied AI', 'Data Engineer - AI/ML',
       'Staff Data Scientist - Deep Learning',
       'Staff Data Scientist - Search', 'Sr Data Eng',
       'Data Scientist, New Product Introduction',
       'Data Scientist II/III', 'Clinical Data Scientist',
       'Sr Data Scientist, Risk Data Mining',
       'Senior Data Scientist - Analytics',
       'Data Scientist, AI Expertise',
       'Lead Data Scientist - Engagement & Customer Experience Analytics - Corporate Investment Banking',
       'Senior Data Scientist, Sponsored Products',
       'Staff Data Scientist - Algorithms, Guest Science',
       'Senior Data Scientist ML Engineer',
       'Lead Data Science Analyst (multiple openings) - IHM',
       'Jr. Data Scientist', 'Data Scientist, EDA',
       'Staff Data Scientist-Generative AI and NLP',
       'Distinguished Data Scientist',
       'Lead Data Scientist - TikTok User Growth',
       'Data Scientist-II- Global Services',
       'Senior Data Scientist | Product', 'Data Scientist I',
       'Data Instrument Engineer', 'Data Scientist III (hybrid/remote)',
       'Bayesian Statistician (Data Scientist)',
       'Senior Data Scientist, Machine Learning',
       'Data Scientist (Multiple Levels)',
       'Senior Data Scientist, Operations', 'Data Scientist - Senior',
       'Senior Data Scientist, Experimentation',
       'Senior Data Scientist, Growth', 'Senior Principal Data Scientist',
       'Data Scientist/Senior Data Scientist',
       'Specialist Solutions Architect - Machine Learning (Public Sector)',
       'Senior Data Scientist (Remote)', 'Senior Data Scientist I',
       'Data Scientist(RNAseq,Genomics,Omnics,Machine Learning,data analysis)',
       'Data Scientist / Senior Data Scientist', 'Data Analyst, Senior',
       'Senior Data Scientist, Causal Inference - Marketing Technology (6 - 12 Month Contract)',
       'Data Software Engineer', 'Data Scientist - Hybrid Opportunity',
       'Senior/Principal Data Scientist', 'Data Scientist (Hybrid)',
       'Senior Data Scientist - Discovery Experiences',
       'GEN AI data scientist / Architect ( Onsite)',
       'Data Scientist Co-Op', 'Bec Dx Jr Data Scientist',
       'Data Scientist Engineering Modeler',
       'Director, Data Scientist - Biopharma',
       'Bioinformatics Data Scientist',
       'Senior Data Scientist, Seller Experience',
       'Data Scientist/Senior Data Scientist, Metabolomics',
       'Senior Data Scientist - Growth & Lifecycle',
       'Senior Data Scientist - NYC',
       'Principal Machine Learning Engineer',
       'Visualization/Data Scientist',
       'Data Scientist - Tiktok Ads, Growth Marketing',
       'Data Scientist/Modeler II', 'Machine Learning / Data Scientist',
       'Senior Data Scientist, Analytics (Communities)',
       'Ecological Modeler/Biodiversity Data Scientist (Remote)',
       'Senior AI/ML Fraud Strategist/ Data Scientist',
       'Data Scientist/Architect/Modeler',
       'Sr. Manager, Data Scientist - Biopharma',
       'Principal Data Scientist, Delivery Technology',
       'Sr. Data Scientist, Reliability Engineering',
       'Senior Data Scientist, AI and Computational Chemistry',
       'Senior Data Scientist, Ads Fraud Protection',
       'Senior Data Scientist - Research (Remote)',
       'Senior Data Scientist, Attribution',
       '(USA) Principal Data Scientist - E2E', 'Sr. Data Scientist',
       'Senior Manager, Data Science', 'Senior Product Manager',
       'Supply Chain Consultant - Sr. Data Scientist',
       'Sr. Data Engineer (Remote)', 'Data Scientist 5',
       'MS Healthcare Data Scientist - Analytics',
       'Principal CoE Data Scientist', 'Data Scientist Postdoc',
       'Principal Bioinformatics Scientist (Cancer Biology)',
       'Sr. Data Scientist (Strategic Insights)',
       'Senior Data Scientist, Professional Services',
       'Lead Data Scientist - Online Platforms Reinforcement Learning (Remote)',
       'Jr. Engineer, Data Scientist', 'Data Scientist - Data Analytics',
       '(Senior) Scientist, Clinical Development Data Science',
       'Scientist Sr/Pr - Data Scientist',
       'Data Scientist/Developer for Big Data/Machine Learning R&D',
       'Senior Machine Learning Engineer',
       'Senior Data Scientist - Measurement',
       'Machine Learning Scientist (Chemistry)',
       'Sr Dir & Data Scientist - AI & Underwriting Automation',
       'Data Scientist I, Bioinformatics',
       'Data Scientist: Advanced Analytics',
       'Director/TL, Data Science - Biopharma',
       'Technical Lead Data Scientist, Creator', 'Lead Data Scientist',
       'Data Scientist II- Outcomes', 'Senior R&D Data Scientist',
       'Sr Data Scientist (Innovation Lab)',
       'Sr. Consultant, Data Scientist', 'Sr. Geospatial Data Scientist',
       'Data Scientist - Associate - Secret Clearance!', 'Data Science',
       'Jr. ORSA / Data Scientist', 'Data Architect / Data Scientist',
       'Data Scientist 2, Menlo Park, CA # 3192',
       'Data Scientist Consultant',
       'Staff Software Engineer | Machine Learning',
       'Senior Data Scientist - Applied AI', 'Data Engineer Analyst',
       'Data Engineer/Data Scientist', 'Senior Health Data Scientist',
       'Sr. Data Scientist, Pricing Algorithms - Remote within 100 miles of Office Location',
       'Data Scientist (Faculty Assistant, Post-Doctoral Associate, or Assistant Research Scholar',
       'Field Data Scientist (Spanish speaking) - IDS2009',
       'Data Scientist, Senior (DS3)',
       'Postdoctoral Fellow/Research Associate/Data Scientist in Cancer Epidemiology Research',
       'Staff Data Scientist, Cash App Compliance',
       'Data Scientist, Customer Identity & Access Management',
       'VIE - Strategic Operations Data Scientist - USA',
       'Behavioral Data Scientist',
       'College Graduate - Computer Engineering - (Bachelors)',
       'Marketing Data Scientist',
       'Data Scientist, Data-Driven Marketing',
       'Senior Data Scientist II', 'Machine Learning Engineer',
       'Senior Associate, Data Scientist', 'Data Scientist 4676',
       'Data Scientist (Open to both U.S. Citizens and Federal Employees)',
       'DATA SCIENTIST III', 'Supply Chain Data Analytics Specialist',
       'Sr. Data Scientist (Data Stewardship)',
       'Interconnection Data Scientist',
       'Senior Data Scientist - Modeling & Optimization',
       'Data Scientist - Augusta Ga', 'Sr. Data Scientist II',
       'Data Scientist / AI Specialist',
       'Cleared Data Scientist (All Levels)', 'AVP Data Scientist',
       'Data Analyst Lead - Data Scientist',
       'Lead Data Scientist, Economy',
       'Staff Data Scientist - Advertising',
       'Data Scientist/Software Developer', 'Data Scientist/Developer',
       'Data Scientist / Analyst', 'Sr. Marketing Data Scientist',
       'Data Science Analyst', 'Bioninformatic Scientist',
       'Data Scientist- Marketing', 'Data Analyst',
       'Financial Business Analyst',
       'Quantitative Analytics Tech Lead - Data Scientist (Hybrid - 3 Days in Office)',
       'Data Scientist Algorithm Developer',
       'Data Scientist, Data Product',
       'Data Scientist/Algorithm Developer', 'Senior Data Analyst',
       'Sleep Medicine Scientist', 'Date Scientist', 'IS Data Consultant',
       'Staff Data Scientist - Marketing', 'Sr. Data Engineer',
       'Data Scientist V Data Science', 'DigiT Data Software Engineer',
       'General Engineer - Data Scientist/Statistician/Mathematician/Methodologist/Computer Scientist',
       'Applied Artificial Intelligence Machine Learning - Sr Associate',
       'Bioinformatics Analyst / Data Scientist',
       'Digital Customer – Machine Learning & Data Lab – Stage',
       'Principal Data Scientist, Professional Services',
       'Senior Staff Data Scientist', 'Sr. Data Scientist - Data Quality',
       'Data Scientist, Data Services - Remote',
       'Data Scientist / Statistician',
       'Quantitative Researcher (Data Scientist)',
       'Statistician/Data Scientist - TS/SCI Required',
       'Data Scientist/SR Data Scientist',
       'Senior Data Scientist (Sleep)', 'Supply Chain Data Scientist',
       'Data Scientist Sr',
       'Principal - Artificial intelligence (AI)& ML- Data Scientist - USC & GC',
       'Data Scientist (Direct Hire)',
       'Senior Data Scientist- Data Strategy', 'Data Scientist Senior',
       'Data Science Mentor', 'Data Scientist (Remote)',
       'Computational Physicist/Data Scientist', 'Chief Data Scientist',
       'Multi-modal Representation Learning Scientist',
       'Data Scientist/AI Engineer',
       'Short-term trading desk Data Scientist (m/f/t)',
       'Senior Data Scientist, Forecasting', 'Data Engineer, Python',
       'Data Scientist, Natural Language Interfaces',
       'Junior Data Scientist | TS/SCI', 'Data Scientist Position',
       'Senior Data Scientist , Search and Personalization (14498) - United States (Remote)',
       'Research Data Analyst (Scientist)', 'IT Data Scientist I-IV',
       'Forward Deployed Data Scientist',
       'Data Scientist 3 DS3 (VV) 1034', 'Education Data Scientist',
       'Data Scientist Advanced Development Program',
       'Database Administrator',
       'Global Technology Transformation Analytics Vice President',
       'Remote - Data Scientist', 'Market Data Analyst'], dtype=object)

In [8]:
df = df.copy()

In [9]:
# Let's group job titles to common title --- 'Data Scientist', 'Data Analyst', 'Machine Learning', 'Data Engineer', 'Other'
df.loc[:, 'Role type'] = df['Job Title'].apply(lambda x: 'Data Scientist' if 'Data Scientist' in x
                                       else 'Data Analyst' if 'Data Analyst' in x
                                       else 'Machine Learning Engineer' if 'Machine Learning Engineer' in x
                                       else 'Data Engineer' if 'Data Engineer' in x
                                       else 'Other')
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist

# Q1: Can you make the salary column into integers?

In [10]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist
5,Senior Data Scientist,Employer Provided Salary:$141K - $254K,POSITION: Senior Data Scientist\n\nJOB Locatio...,3.6,AT&T\n3.6,"Dallas, TX",10000+ Employees,1876,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD),Data Scientist
6,Data Scientist,Employer Provided Salary:$85K,Details\nDepartment: Workforce Planning and An...,3.4,Ascension\n3.4,Remote,10000+ Employees,1902,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,Data Scientist
7,Data Scientist,$102K - $138K (Glassdoor est.),Company Description\n\nVisa is a world leader ...,4.1,Visa\n4.1,"Washington, DC",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist
8,Data Scientist- CalAIM,Employer Provided Salary:$51.00 - $68.72 Per Hour,Salary: $51.00 - $68.72 Per Hour\nCommunity Pr...,3.3,Heluna Health\n3.3,"Los Angeles, CA",1001 to 5000 Employees,1968,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$25 to $100 million (USD),Data Scientist
9,Data Scientist,$106K - $168K (Glassdoor est.),Job Title: Data Scientist - 100% Remote\nLocat...,-1.0,Pashtek,"Arizona City, AZ",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,Data Scientist

In [11]:
df['Salary Estimate'].unique()

array(['Employer Provided Salary:$83K - $153K',
       'Employer Provided Salary:$71K - $133K',
       'Employer Provided Salary:$94K - $183K',
       '$48K - $78K (Glassdoor est.)',
       'Employer Provided Salary:$65.00 - $75.00 Per Hour',
       'Employer Provided Salary:$141K - $254K',
       'Employer Provided Salary:$85K', '$102K - $138K (Glassdoor est.)',
       'Employer Provided Salary:$51.00 - $68.72 Per Hour',
       '$106K - $168K (Glassdoor est.)', '$88K - $133K (Glassdoor est.)',
       'Employer Provided Salary:$122K - $175K',
       'Employer Provided Salary:$70K - $105K',
       'Employer Provided Salary:$93.00 - $121.00 Per Hour',
       'Employer Provided Salary:$112K', '$82K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $165K',
       'Employer Provided Salary:$130K - $150K',
       '$121K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $255K',
       'Employer Provided Salary:$102K - $152K',
       'Employer Provided Salary:$125K - $145K',
       'Employer Provided Salary:$60K - $64K',
       'Employer Provided Salary:$51.00 - $52.00 Per Hour',
       'Employer Provided Salary:$114K - $122K',
       'Employer Provided Salary:$130K - $146K',
       'Employer Provided Salary:$100K - $130K',
       'Employer Provided Salary:$60K - $140K',
       'Employer Provided Salary:$105K - $157K',
       'Employer Provided Salary:$150K - $175K',
       '$136K - $186K (Glassdoor est.)',
       'Employer Provided Salary:$68K - $191K',
       '$88K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $125K',
       '$100K - $151K (Glassdoor est.)', 'Employer Provided Salary:$83K',
       'Employer Provided Salary:$40.00 - $45.00 Per Hour',
       'Employer Provided Salary:$150K',
       'Employer Provided Salary:$83K - $95K',
       'Employer Provided Salary:$82K - $96K',
       '$86K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $184K',
       '$85K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$82K - $164K',
       '$92K - $128K (Glassdoor est.)', '$61K - $90K (Glassdoor est.)',
       'Employer Provided Salary:$150K - $200K',
       '$90K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$75.00 - $100.00 Per Hour',
       '$84K - $122K (Glassdoor est.)', '$94K - $144K (Glassdoor est.)',
       'Employer Provided Salary:$91K - $121K',
       'Employer Provided Salary:$106K - $159K',
       'Employer Provided Salary:$75K - $85K',
       'Employer Provided Salary:$82K - $140K',
       '$89K - $123K (Glassdoor est.)', '$112K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $120K',
       'Employer Provided Salary:$75.63 Per Hour',
       '$69K - $110K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $135K',
       'Employer Provided Salary:$100K',
       'Employer Provided Salary:$69K - $122K',
       'Employer Provided Salary:$112K - $172K',
       '$89K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$29.00 - $50.00 Per Hour',
       'Employer Provided Salary:$75K - $80K',
       'Employer Provided Salary:$70K - $80K',
       '$79K - $118K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $170K',
       'Employer Provided Salary:$96K - $134K',
       '$85K - $127K (Glassdoor est.)', 'Employer Provided Salary:$75K',
       '$65K - $96K (Glassdoor est.)', '$84K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$197K - $269K',
       'Employer Provided Salary:$105K - $120K',
       'Employer Provided Salary:$91K - $131K',
       '$98K - $133K (Glassdoor est.)', '$81K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $90K',
       'Employer Provided Salary:$140K',
       'Employer Provided Salary:$140K - $180K',
       'Employer Provided Salary:$85K - $115K',
       'Employer Provided Salary:$5K - $7K',
       'Employer Provided Salary:$180K - $250K',
       '$82K - $109K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $115K',
       '$126K - $195K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $155K',
       'Employer Provided Salary:$80K - $100K',
       '$118K - $161K (Glassdoor est.)', '$94K - $132K (Glassdoor est.)',
       'Employer Provided Salary:$45.00 - $55.00 Per Hour',
       'Employer Provided Salary:$82K - $143K',
       '$82K - $114K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $140K',
       'Employer Provided Salary:$30K - $35K',
       '$116K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$65K - $131K',
       '$70K - $104K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $140K',
       '$70K - $106K (Glassdoor est.)',
       'Employer Provided Salary:$59K - $93K',
       'Employer Provided Salary:$50.00 - $65.00 Per Hour',
       '$76K - $115K (Glassdoor est.)', '$87K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$132K - $196K',
       'Employer Provided Salary:$45K - $176K',
       'Employer Provided Salary:$101K - $204K',
       'Employer Provided Salary:$53K - $100K',
       '$80K - $126K (Glassdoor est.)', '$80K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$94K - $186K',
       'Employer Provided Salary:$140K - $190K',
       'Employer Provided Salary:$61K - $106K',
       '$89K - $133K (Glassdoor est.)', '$92K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $248K',
       'Employer Provided Salary:$53K - $84K',
       '$69K - $99K (Glassdoor est.)', '$74K - $125K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $179K',
       'Employer Provided Salary:$79K - $122K',
       'Employer Provided Salary:$59K - $130K',
       'Employer Provided Salary:$80K', '$90K - $125K (Glassdoor est.)',
       '$74K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $171K',
       '$99K - $138K (Glassdoor est.)',
       'Employer Provided Salary:$204K - $294K',
       'Employer Provided Salary:$78K - $90K',
       'Employer Provided Salary:$85K - $95K',
       '$88K - $132K (Glassdoor est.)', '$93K - $132K (Glassdoor est.)',
       '$77K - $106K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $332K',
       '$123K - $183K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $218K',
       'Employer Provided Salary:$59K - $82K',
       '$71K - $103K (Glassdoor est.)',
       'Employer Provided Salary:$146K - $174K',
       'Employer Provided Salary:$104K - $145K',
       'Employer Provided Salary:$202K - $316K',
       '$114K - $155K (Glassdoor est.)',
       'Employer Provided Salary:$144K - $180K',
       'Employer Provided Salary:$105K - $135K',
       'Employer Provided Salary:$40.00 - $50.00 Per Hour',
       '$79K - $109K (Glassdoor est.)',
       'Employer Provided Salary:$100K - $140K',
       'Employer Provided Salary:$110K - $113K',
       'Employer Provided Salary:$125K - $129K',
       '$107K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $176K',
       'Employer Provided Salary:$118K - $158K',
       '$88K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$106K - $242K',
       '$85K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$169K - $172K',
       '$81K - $115K (Glassdoor est.)', '$110K - $151K (Glassdoor est.)',
       'Employer Provided Salary:$87K - $126K',
       '$110K - $167K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $170K',
       'Employer Provided Salary:$160K - $247K',
       'Employer Provided Salary:$188K - $306K',
       '$81K - $112K (Glassdoor est.)',
       'Employer Provided Salary:$73K - $176K',
       'Employer Provided Salary:$156K - $184K',
       'Employer Provided Salary:$72.49 - $96.06 Per Hour',
       '$85K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$101K - $138K',
       '$83K - $125K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $296K',
       '$89K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$53K - $96K',
       'Employer Provided Salary:$140K - $206K',
       'Employer Provided Salary:$100K - $120K',
       '$130K - $176K (Glassdoor est.)', '$132K - $176K (Glassdoor est.)',
       '$116K - $163K (Glassdoor est.)', '$144K - $193K (Glassdoor est.)',
       '$79K - $114K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $257K',
       '$95K - $140K (Glassdoor est.)',
       'Employer Provided Salary:$205K - $251K',
       'Employer Provided Salary:$160K - $220K',
       '$93K - $135K (Glassdoor est.)', '$73K - $104K (Glassdoor est.)',
       'Employer Provided Salary:$31.00 - $37.00 Per Hour',
       'Employer Provided Salary:$168K - $209K',
       '$89K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$179K - $210K',
       'Employer Provided Salary:$74K - $124K',
       'Employer Provided Salary:$78K - $133K',
       '$138K - $188K (Glassdoor est.)',
       'Employer Provided Salary:$119K - $179K',
       '$85K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $210K',
       'Employer Provided Salary:$211K - $262K',
       'Employer Provided Salary:$156K - $215K',
       '$101K - $142K (Glassdoor est.)', '$149K - $200K (Glassdoor est.)',
       '$96K - $142K (Glassdoor est.)',
       'Employer Provided Salary:$94K - $146K',
       '$85K - $115K (Glassdoor est.)', '$100K - $133K (Glassdoor est.)',
       'Employer Provided Salary:$63K - $89K',
       '$116K - $154K (Glassdoor est.)', '$75K - $113K (Glassdoor est.)',
       '$94K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$141K - $239K',
       '$113K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$213K - $253K',
       '$123K - $177K (Glassdoor est.)', '$89K - $129K (Glassdoor est.)',
       '$133K - $197K (Glassdoor est.)', '$144K - $191K (Glassdoor est.)',
       'Employer Provided Salary:$72K - $109K',
       'Employer Provided Salary:$70K - $100K',
       '$66K - $89K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $232K',
       'Employer Provided Salary:$180K - $230K',
       'Employer Provided Salary:$112K - $218K',
       'Employer Provided Salary:$113K - $204K',
       '$94K - $156K (Glassdoor est.)', '$97K - $127K (Glassdoor est.)',
       '$76K - $103K (Glassdoor est.)', '$83K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$110K - $176K',
       'Employer Provided Salary:$130K - $202K',
       '$80K - $113K (Glassdoor est.)', '$107K - $141K (Glassdoor est.)',
       'Employer Provided Salary:$118K - $214K',
       '$98K - $136K (Glassdoor est.)',
       'Employer Provided Salary:$106K - $130K',
       'Employer Provided Salary:$61K - $110K',
       '$141K - $185K (Glassdoor est.)', 'Employer Provided Salary:$146K',
       'Employer Provided Salary:$123K - $209K',
       'Employer Provided Salary:$82K - $123K',
       'Employer Provided Salary:$250K - $330K',
       'Employer Provided Salary:$81K - $129K',
       'Employer Provided Salary:$250K - $275K',
       'Employer Provided Salary:$74.66 - $98.94 Per Hour',
       'Employer Provided Salary:$116K - $184K',
       'Employer Provided Salary:$139K - $209K',
       'Employer Provided Salary:$183K - $251K',
       '$90K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$109K - $163K',
       '$119K - $169K (Glassdoor est.)', '$82K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$78K - $140K',
       '$109K - $149K (Glassdoor est.)', '$86K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$176K - $329K',
       '$99K - $137K (Glassdoor est.)',
       'Employer Provided Salary:$123K - $195K',
       'Employer Provided Salary:$97K - $198K',
       'Employer Provided Salary:$119K - $187K',
       'Employer Provided Salary:$115K - $155K',
       'Employer Provided Salary:$143K - $210K',
       'Employer Provided Salary:$127K', '$129K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$185K - $245K',
       '$99K - $135K (Glassdoor est.)', '$84K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$104K - $140K',
       '$91K - $132K (Glassdoor est.)', '$112K - $161K (Glassdoor est.)',
       'Employer Provided Salary:$143K - $251K',
       'Employer Provided Salary:$250K - $300K',
       'Employer Provided Salary:$201K - $395K',
       '$92K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$92K - $138K',
       'Employer Provided Salary:$85K - $118K',
       'Employer Provided Salary:$170K - $200K',
       '$92K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $100K',
       '$151K - $194K (Glassdoor est.)', '$79K - $115K (Glassdoor est.)',
       'Employer Provided Salary:$79K - $237K',
       'Employer Provided Salary:$143K - $195K',
       'Employer Provided Salary:$179K - $218K',
       'Employer Provided Salary:$143K - $203K',
       '$120K - $160K (Glassdoor est.)',
       'Employer Provided Salary:$118K - $217K',
       'Employer Provided Salary:$183K - $192K',
       '$86K - $119K (Glassdoor est.)', 'Employer Provided Salary:$132K',
       'Employer Provided Salary:$145K - $185K',
       '$100K - $136K (Glassdoor est.)',
       'Employer Provided Salary:$97K - $234K',
       'Employer Provided Salary:$122K - $150K',
       'Employer Provided Salary:$197K - $244K',
       '$138K - $186K (Glassdoor est.)',
       'Employer Provided Salary:$77K - $129K',
       '$119K - $157K (Glassdoor est.)', '$157K - $199K (Glassdoor est.)',
       'Employer Provided Salary:$159K - $281K',
       'Employer Provided Salary:$122K - $171K',
       '$96K - $132K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $234K',
       'Employer Provided Salary:$160K - $225K',
       '$118K - $160K (Glassdoor est.)', '$151K - $200K (Glassdoor est.)',
       'Employer Provided Salary:$120.00 - $125.00 Per Hour',
       'Employer Provided Salary:$125K - $164K',
       'Employer Provided Salary:$85K - $120K',
       '$84K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$169K - $203K',
       'Employer Provided Salary:$48.30 - $77.28 Per Hour',
       'Employer Provided Salary:$107K - $199K',
       'Employer Provided Salary:$295K - $359K',
       '$96K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$145K - $190K',
       '$99K - $136K (Glassdoor est.)', '$96K - $134K (Glassdoor est.)',
       '$115K - $167K (Glassdoor est.)', '$85K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$145K - $242K',
       'Employer Provided Salary:$125K - $175K',
       '$107K - $154K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $125K',
       'Employer Provided Salary:$130K - $164K',
       'Employer Provided Salary:$133K - $162K',
       '$133K - $180K (Glassdoor est.)',
       'Employer Provided Salary:$135K - $210K',
       'Employer Provided Salary:$136K - $182K',
       '$96K - $130K (Glassdoor est.)', '$115K - $160K (Glassdoor est.)',
       '$127K - $173K (Glassdoor est.)', '$96K - $139K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $85K',
       '$127K - $168K (Glassdoor est.)',
       'Employer Provided Salary:$140K - $261K',
       'Employer Provided Salary:$114K - $190K',
       'Employer Provided Salary:$173K - $290K',
       'Employer Provided Salary:$110K - $138K',
       '$113K - $152K (Glassdoor est.)', '$143K - $194K (Glassdoor est.)',
       '$130K - $186K (Glassdoor est.)', '$89K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $182K',
       '$82K - $112K (Glassdoor est.)', '$121K - $158K (Glassdoor est.)',
       '$124K - $178K (Glassdoor est.)', '$119K - $156K (Glassdoor est.)',
       '$88K - $129K (Glassdoor est.)', '$103K - $148K (Glassdoor est.)',
       '$90K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$97K - $146K',
       'Employer Provided Salary:$172K - $285K',
       'Employer Provided Salary:$100K - $150K',
       '$113K - $154K (Glassdoor est.)', '$111K - $147K (Glassdoor est.)',
       '$98K - $135K (Glassdoor est.)', '$113K - $155K (Glassdoor est.)',
       'Employer Provided Salary:$110K', '$87K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $195K',
       '$96K - $135K (Glassdoor est.)', '$128K - $171K (Glassdoor est.)',
       'Employer Provided Salary:$126K - $270K',
       '$135K - $183K (Glassdoor est.)',
       'Employer Provided Salary:$61K - $92K',
       '$139K - $190K (Glassdoor est.)',
       'Employer Provided Salary:$150K - $219K',
       '$141K - $188K (Glassdoor est.)',
       'Employer Provided Salary:$190K - $351K',
       '$110K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$75.00 - $80.00 Per Hour',
       'Employer Provided Salary:$120K - $240K',
       'Employer Provided Salary:$136K - $155K',
       '$119K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $110K',
       '$74K - $108K (Glassdoor est.)',
       'Employer Provided Salary:$188K - $240K',
       '$103K - $164K (Glassdoor est.)',
       'Employer Provided Salary:$100K - $180K',
       '$105K - $148K (Glassdoor est.)', '$87K - $131K (Glassdoor est.)',
       '$88K - $125K (Glassdoor est.)', '$77K - $124K (Glassdoor est.)',
       '$146K - $194K (Glassdoor est.)', '$72K - $112K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $220K',
       '$89K - $128K (Glassdoor est.)', '$106K - $153K (Glassdoor est.)',
       'Employer Provided Salary:$154K - $254K',
       '$112K - $160K (Glassdoor est.)',
       'Employer Provided Salary:$157K - $262K',
       'Employer Provided Salary:$310K - $359K',
       'Employer Provided Salary:$8K - $8K',
       '$91K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$157K - $192K',
       'Employer Provided Salary:$95K - $142K',
       'Employer Provided Salary:$130K - $160K',
       'Employer Provided Salary:$130K - $145K',
       '$110K - $158K (Glassdoor est.)', '$76K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$110K - $170K',
       'Employer Provided Salary:$73.00 - $76.00 Per Hour',
       '$81K - $126K (Glassdoor est.)', '$38K - $58K (Glassdoor est.)',
       '$112K - $146K (Glassdoor est.)', '$83K - $111K (Glassdoor est.)',
       '$77K - $115K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $179K',
       'Employer Provided Salary:$137K',
       'Employer Provided Salary:$38.32 - $64.85 Per Hour',
       '$99K - $133K (Glassdoor est.)', '$101K - $136K (Glassdoor est.)',
       '$113K - $161K (Glassdoor est.)', '$104K - $145K (Glassdoor est.)',
       'Employer Provided Salary:$107K', '$124K - $167K (Glassdoor est.)',
       '$109K - $143K (Glassdoor est.)', '$80K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$104K - $142K',
       'Employer Provided Salary:$144K - $216K',
       '$115K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$70K - $125K',
       '$74K - $100K (Glassdoor est.)', '$124K - $169K (Glassdoor est.)',
       '$92K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$60.00 Per Hour',
       '$74K - $115K (Glassdoor est.)', '$90K - $129K (Glassdoor est.)',
       '$58K - $89K (Glassdoor est.)', '$104K - $178K (Glassdoor est.)',
       'Employer Provided Salary:$146K - $234K',
       '$56K - $81K (Glassdoor est.)', '$123K - $179K (Glassdoor est.)',
       '$99K - $152K (Glassdoor est.)', '$104K - $153K (Glassdoor est.)',
       '$83K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$88K - $133K',
       '$85K - $117K (Glassdoor est.)', '$88K - $120K (Glassdoor est.)',
       '$83K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $140K',
       'Employer Provided Salary:$60.00 - $70.00 Per Hour',
       '$66K - $105K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $215K',
       'Employer Provided Salary:$112K - $207K',
       'Employer Provided Salary:$101K - $187K',
       '$109K - $156K (Glassdoor est.)', 'Employer Provided Salary:$178K',
       '$94K - $139K (Glassdoor est.)',
       'Employer Provided Salary:$94K - $120K',
       'Employer Provided Salary:$180K - $200K',
       '$116K - $150K (Glassdoor est.)',

In [12]:
df['Salary Estimate dup'] = df['Salary Estimate']

In [13]:
df['Salary Estimate dup'] = df['Salary Estimate dup'].str.replace('Employer Provided Salary:', '')
df['Salary Estimate dup'] = df['Salary Estimate dup'].str.replace(' \(Glassdoor est.\)', '')
df.head(15)

<ipython-input-13-0d05b20ff0db>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate dup'] = df['Salary Estimate dup'].str.replace(' \(Glassdoor est.\)', '')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Salary Estimate dup
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,$83K - $153K
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,$71K - $133K
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,$94K - $183K
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,$48K - $78K
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist,$65.00 - $75.00 Per Hour
5,Senior Data Scientist,Employer Provided Salary:$141K - $254K,POSITION: Senior Data Scientist\n\nJOB Locatio...,3.6,AT&T\n3.6,"Dallas, TX",10000+ Employees,1876,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD),Data Scientist,$141K - $254K
6,Data Scientist,Employer Provided Salary:$85K,Details\nDepartment: Workforce Planning and An...,3.4,Ascension\n3.4,Remote,10000+ Employees,1902,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,Data Scientist,$85K
7,Data Scientist,$102K - $138K (Glassdoor est.),Company Description\n\nVisa is a world leader ...,4.1,Visa\n4.1,"Washington, DC",10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,$102K - $138K
8,Data Scientist- CalAIM,Employer Provided Salary:$51.00 - $68.72 Per Hour,Salary: $51.00 - $68.72 Per Hour\nCommunity Pr...,3.3,Heluna Health\n3.3,"Los Angeles, CA",1001 to 5000 Employees,1968,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$25 to $100 million (USD),Data Scientist,$51.00 - $68.72 Per Hour
9,Data Scientist,$106K - $168K (Glassdoor est.),Job Title: Data Scientist - 100% Remote\nLocat...,-1.0,Pashtek,"Arizona City, AZ",1 to 50 Employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,Data Scientist,$106K - $168K
10,Data Scientist,$88K - $133K (Glassdoor est.),"Spalding Consulting, Inc. is seeking a Data Sc...",4.0,"Spalding Consulting, Inc.\n4.0","Havelock, NC",201 to 500 Employees,2001,Company - Private,Aerospace & Defense,Aerospace & Defense,$25 to $100 million (USD),Data Scientist,$88K - $133K
11,Data Scientist,Employer Provided Salary:$122K - $175K,Lawrence Berkeley National Laboratory has mult...,4.1,Lawrence Berkeley National Laboratory\n4.1,"San Francisco, CA",1001 to 5000 Employees,1931,Government,Research & Development,Management & Consulting,$500 million to $1 billion (USD),Data Scientist,$122K - $175K
12,Junior Data Scientist,Employer Provided Salary:$70K - $105K,Company Description\n\nRead this first: If you...,3.9,Publicis Media\n3.9,"New York, NY",10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),Data Scientist,$70K - $105K
13,Entry Level - Associate Data Scientist - Comme...,Employer Provided Salary:$93.00 - $121.00 Per ...,Introduction\nAs a Associate Data Scientist at...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,$93.00 - $121.00 Per Hour
14,"Data Scientist, Analytics",Employer Provided Salary:$112K,3+ years of domain experience in a consumer in...,3.7,"Twitch Interactive, Inc.\n3.7",California,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),Data Scientist,$112K

In [14]:
df['Salary Estimate dup'].unique()

array(['$83K - $153K', '$71K - $133K', '$94K - $183K', '$48K - $78K',
       '$65.00 - $75.00 Per Hour', '$141K - $254K', '$85K',
       '$102K - $138K', '$51.00 - $68.72 Per Hour', '$106K - $168K',
       '$88K - $133K', '$122K - $175K', '$70K - $105K',
       '$93.00 - $121.00 Per Hour', '$112K', '$82K - $123K',
       '$112K - $165K', '$130K - $150K', '$121K - $169K', '$160K - $255K',
       '$102K - $152K', '$125K - $145K', '$60K - $64K',
       '$51.00 - $52.00 Per Hour', '$114K - $122K', '$130K - $146K',
       '$100K - $130K', '$60K - $140K', '$105K - $157K', '$150K - $175K',
       '$136K - $186K', '$68K - $191K', '$88K - $126K', '$95K - $125K',
       '$100K - $151K', '$83K', '$40.00 - $45.00 Per Hour', '$150K',
       '$83K - $95K', '$82K - $96K', '$86K - $129K', '$81K - $184K',
       '$85K - $130K', '$82K - $164K', '$92K - $128K', '$61K - $90K',
       '$150K - $200K', '$90K - $126K', '$75.00 - $100.00 Per Hour',
       '$84K - $122K', '$94K - $144K', '$91K - $121K', '$106K - $159K',
       '$75K - $85K', '$82K - $140K', '$89K - $123K', '$112K - $157K',
       '$90K - $120K', '$75.63 Per Hour', '$69K - $110K', '$112K - $135K',
       '$100K', '$69K - $122K', '$112K - $172K', '$89K - $122K',
       '$29.00 - $50.00 Per Hour', '$75K - $80K', '$70K - $80K',
       '$79K - $118K', '$130K - $170K', '$96K - $134K', '$85K - $127K',
       '$75K', '$65K - $96K', '$84K - $126K', '$197K - $269K',
       '$105K - $120K', '$91K - $131K', '$98K - $133K', '$81K - $120K',
       '$80K - $90K', '$140K', '$140K - $180K', '$85K - $115K',
       '$5K - $7K', '$180K - $250K', '$82K - $109K', '$95K - $115K',
       '$126K - $195K', '$130K - $155K', '$80K - $100K', '$118K - $161K',
       '$94K - $132K', '$45.00 - $55.00 Per Hour', '$82K - $143K',
       '$82K - $114K', '$90K - $140K', '$30K - $35K', '$116K - $169K',
       '$65K - $131K', '$70K - $104K', '$105K - $140K', '$70K - $106K',
       '$59K - $93K', '$50.00 - $65.00 Per Hour', '$76K - $115K',
       '$87K - $116K', '$132K - $196K', '$45K - $176K', '$101K - $204K',
       '$53K - $100K', '$80K - $126K', '$80K - $122K', '$94K - $186K',
       '$140K - $190K', '$61K - $106K', '$89K - $133K', '$92K - $126K',
       '$134K - $248K', '$53K - $84K', '$69K - $99K', '$74K - $125K',
       '$81K - $179K', '$79K - $122K', '$59K - $130K', '$80K',
       '$90K - $125K', '$74K - $123K', '$105K - $171K', '$99K - $138K',
       '$204K - $294K', '$78K - $90K', '$85K - $95K', '$88K - $132K',
       '$93K - $132K', '$77K - $106K', '$153K - $332K', '$123K - $183K',
       '$130K - $218K', '$59K - $82K', '$71K - $103K', '$146K - $174K',
       '$104K - $145K', '$202K - $316K', '$114K - $155K', '$144K - $180K',
       '$105K - $135K', '$40.00 - $50.00 Per Hour', '$79K - $109K',
       '$100K - $140K', '$110K - $113K', '$125K - $129K', '$107K - $157K',
       '$81K - $176K', '$118K - $158K', '$88K - $121K', '$106K - $242K',
       '$85K - $124K', '$169K - $172K', '$81K - $115K', '$110K - $151K',
       '$87K - $126K', '$110K - $167K', '$160K - $170K', '$160K - $247K',
       '$188K - $306K', '$81K - $112K', '$73K - $176K', '$156K - $184K',
       '$72.49 - $96.06 Per Hour', '$85K - $120K', '$101K - $138K',
       '$83K - $125K', '$153K - $296K', '$89K - $127K', '$53K - $96K',
       '$140K - $206K', '$100K - $120K', '$130K - $176K', '$132K - $176K',
       '$116K - $163K', '$144K - $193K', '$79K - $114K', '$134K - $257K',
       '$95K - $140K', '$205K - $251K', '$160K - $220K', '$93K - $135K',
       '$73K - $104K', '$31.00 - $37.00 Per Hour', '$168K - $209K',
       '$89K - $130K', '$179K - $210K', '$74K - $124K', '$78K - $133K',
       '$138K - $188K', '$119K - $179K', '$85K - $122K', '$160K - $210K',
       '$211K - $262K', '$156K - $215K', '$101K - $142K', '$149K - $200K',
       '$96K - $142K', '$94K - $146K', '$100K - $133K', '$63K - $89K',
       '$116K - $154K', '$75K - $113K', '$94K - $126K', '$141K - $239K',
       '$113K - $159K', '$213K - $253K', '$123K - $177K', '$89K - $129K',
       '$133K - $197K', '$144K - $191K', '$72K - $109K', '$70K - $100K',
       '$66K - $89K', '$160K - $232K', '$180K - $230K', '$112K - $218K',
       '$113K - $204K', '$94K - $156K', '$97K - $127K', '$76K - $103K',
       '$83K - $123K', '$110K - $176K', '$130K - $202K', '$80K - $113K',
       '$107K - $141K', '$118K - $214K', '$98K - $136K', '$106K - $130K',
       '$61K - $110K', '$141K - $185K', '$146K', '$123K - $209K',
       '$250K - $330K', '$81K - $129K', '$250K - $275K',
       '$74.66 - $98.94 Per Hour', '$116K - $184K', '$139K - $209K',
       '$183K - $251K', '$90K - $124K', '$109K - $163K', '$119K - $169K',
       '$82K - $121K', '$78K - $140K', '$109K - $149K', '$86K - $130K',
       '$176K - $329K', '$99K - $137K', '$123K - $195K', '$97K - $198K',
       '$119K - $187K', '$115K - $155K', '$143K - $210K', '$127K',
       '$129K - $169K', '$185K - $245K', '$99K - $135K', '$84K - $127K',
       '$104K - $140K', '$91K - $132K', '$112K - $161K', '$143K - $251K',
       '$250K - $300K', '$201K - $395K', '$92K - $130K', '$92K - $138K',
       '$85K - $118K', '$170K - $200K', '$92K - $121K', '$90K - $100K',
       '$151K - $194K', '$79K - $115K', '$79K - $237K', '$143K - $195K',
       '$179K - $218K', '$143K - $203K', '$120K - $160K', '$118K - $217K',
       '$183K - $192K', '$86K - $119K', '$132K', '$145K - $185K',
       '$100K - $136K', '$97K - $234K', '$122K - $150K', '$197K - $244K',
       '$138K - $186K', '$77K - $129K', '$119K - $157K', '$157K - $199K',
       '$159K - $281K', '$122K - $171K', '$96K - $132K', '$130K - $234K',
       '$160K - $225K', '$118K - $160K', '$151K - $200K',
       '$120.00 - $125.00 Per Hour', '$125K - $164K', '$84K - $124K',
       '$169K - $203K', '$48.30 - $77.28 Per Hour', '$107K - $199K',
       '$295K - $359K', '$96K - $129K', '$145K - $190K', '$99K - $136K',
       '$115K - $167K', '$85K - $116K', '$145K - $242K', '$125K - $175K',
       '$107K - $154K', '$80K - $125K', '$130K - $164K', '$133K - $162K',
       '$133K - $180K', '$135K - $210K', '$136K - $182K', '$96K - $130K',
       '$115K - $160K', '$127K - $173K', '$96K - $139K', '$80K - $85K',
       '$127K - $168K', '$140K - $261K', '$114K - $190K', '$173K - $290K',
       '$110K - $138K', '$113K - $152K', '$143K - $194K', '$130K - $186K',
       '$89K - $124K', '$134K - $182K', '$82K - $112K', '$121K - $158K',
       '$124K - $178K', '$119K - $156K', '$88K - $129K', '$103K - $148K',
       '$90K - $127K', '$97K - $146K', '$172K - $285K', '$100K - $150K',
       '$113K - $154K', '$111K - $147K', '$98K - $135K', '$113K - $155K',
       '$110K', '$87K - $121K', '$105K - $195K', '$96K - $135K',
       '$128K - $171K', '$126K - $270K', '$135K - $183K', '$61K - $92K',
       '$139K - $190K', '$150K - $219K', '$141K - $188K', '$190K - $351K',
       '$110K - $159K', '$75.00 - $80.00 Per Hour', '$120K - $240K',
       '$136K - $155K', '$119K - $159K', '$90K - $110K', '$74K - $108K',
       '$188K - $240K', '$103K - $164K', '$100K - $180K', '$105K - $148K',
       '$87K - $131K', '$88K - $125K', '$77K - $124K', '$146K - $194K',
       '$72K - $112K', '$95K - $220K', '$89K - $128K', '$106K - $153K',
       '$154K - $254K', '$112K - $160K', '$157K - $262K', '$310K - $359K',
       '$8K - $8K', '$91K - $123K', '$157K - $192K', '$95K - $142K',
       '$130K - $160K', '$130K - $145K', '$110K - $158K', '$76K - $120K',
       '$110K - $170K', '$73.00 - $76.00 Per Hour', '$81K - $126K',
       '$38K - $58K', '$112K - $146K', '$83K - $111K', '$77K - $115K',
       '$112K - $179K', '$137K', '$38.32 - $64.85 Per Hour',
       '$99K - $133K', '$101K - $136K', '$113K - $161K', '$107K',
       '$124K - $167K', '$109K - $143K', '$80K - $116K', '$104K - $142K',
       '$144K - $216K', '$115K - $157K', '$70K - $125K', '$74K - $100K',
       '$124K - $169K', '$92K - $124K', '$60.00 Per Hour', '$74K - $115K',
       '$90K - $129K', '$58K - $89K', '$104K - $178K', '$146K - $234K',
       '$56K - $81K', '$123K - $179K', '$99K - $152K', '$104K - $153K',
       '$83K - $129K', '$85K - $117K', '$88K - $120K', '$83K - $127K',
       '$130K - $140K', '$60.00 - $70.00 Per Hour', '$66K - $105K',
       '$153K - $215K', '$112K - $207K', '$101K - $187K', '$109K - $156K',
       '$178K', '$94K - $139K', '$94K - $120K', '$180K - $200K',
       '$116K - $150K', '$113K - $151K', '$67K - $92K', '$69K - $109K',
       '$119K - $145K', '$96K - $151K', '$109K - $144K', '$111K - $160K',
       '$77K - $118K', '$70K - $110K', '$140K - $160K', '$84K - $147K',
       '$90K - $132K', '$149K - $238K', '$106K - $143K', '$94K - $130K',
       '$88K - $122K', '$155K - $166K', '$104K - $144K', '$136K - $219K',
       '$169K - $272K', '$184K - $260K', '$105K - $125K', '$110K - $134K',
       '$44K - $59K', '$65K - $88K', '$134K - $200K', '$110K - $150K',
       '$57K - $70K', '$75K - $103K', '$77K - $127K', '$64K - $98K',
       '$95K - $152K', '$80K - $120K', '$132K - $193K', '$163K - $188K',
       '$155K - $201K', '$52K - $200K', '$156K - $303K', '$144K - $200K',
       '$116K - $151K', '$102K - $143K', '$145K - $210K', '$115K - $154K',
       '$150K - $275K', '$131K - $175K', '$106K - $152K', '$90K - $142K',
       '$91K - $130K', '$82K - $118K', '$59K - $86K', '$64K - $103K',
       '$115K - $179K', '$161K - $188K', '$125K', '$121K - $163K',
       '$78K - $108K', '$132K - $217K', '$103K - $159K', '$101K - $135K',
       '$73K - $107K', '$128K - $173K', '$88K - $124K', '$76K - $111K',
       '$92K - $134K', '$100K - $141K', '$87K - $122K', '$109K - $151K',
       '$84K - $121K', '$53.62 - $64.58 Per Hour', '$121K - $176K',
       '$86K - $117K', '$101K - $132K', '$89K - $126K', '$116K',
       '$79K - $148K', '$76K - $101K', '$164K - $262K', '$100K - $129K',
       '$83K - $124K', '$156K - $209K', '$70K',
       '$25.00 - $38.00 Per Hour', '$97K - $150K', '$124K - $190K',
       '$122K - $158K', '$125K - $160K', '$123K - $164K', '$118K - $152K',
       '$90K - $123K', '$109K - $173K', '$102K - $142K', '$128K - $192K',
       '$72K - $114K', '$96K - $133K', '$92K - $122K', '$145K - $155K',
       '$112K - $152K', '$71K - $111K', '$114K - $160K', '$130K - $190K',
       '$113K - $148K', '$126K - $165K', '$97K - $139K', '$122K - $204K',
       '$58K - $83K', '$91K - $129K', '$76K - $107K', '$97K - $155K',
       '$86K - $118K', '$67K - $99K', '$90K - $139K', '$75K - $175K',
       '$85K - $125K', '$70.00 - $73.00 Per Hour', '$128K - $190K',
       '$145K', '$79K - $120K', '$53K - $77K', '$75K - $130K'],
      dtype=object)

In [15]:
import pandas as pd

def parsing_salary(salary_str):
    if 'Per Hour' in salary_str:
        salary_str = salary_str.replace('Per Hour', '').replace('$', '').strip()
        
        parts = salary_str.split(' - ')
        if len(parts) != 2:
            min_salary = max_salary = float(salary_str)*40*52
            return pd.Series([min_salary, max_salary], index=['Min Salary', 'Max Salary'])
        try:
            min_salary, max_salary = map(float, parts)
            min_salary = min_salary * 40 * 52
            max_salary = max_salary * 40 * 52
            return pd.Series([min_salary, max_salary], index=['Min Salary', 'Max Salary'])
        except ValueError:
            return pd.Series([None, None], index=['Min Salary', 'Max Salary'])
        
        
    elif 'K' in salary_str:
        salary_str = salary_str.replace('$', '').replace('K', '').strip()
        parts = salary_str.split(' - ')
        if len(parts)==1:
            min_salary = max_salary = int(salary_str)*1000
            return pd.Series([min_salary, max_salary], index=['Min Salary', 'Max Salary'])
        if len(parts) != 2:
            return pd.Series([None, None], index=['Min Salary', 'Max Salary'])
        try:
            min_salary, max_salary = map(float, parts)
            min_salary = min_salary*1000
            max_salary = max_salary*1000
            return pd.Series([min_salary, max_salary], index=['Min Salary', 'Max Salary'])
        except ValueError:
            return pd.Series([None, None], index=['Min Salary', 'Max Salary'])
    else:
        return pd.Series([None, None], index=['Min Salary', 'Max Salary'])


df[['Min Salary', 'Max Salary']] = df['Salary Estimate dup'].apply(parsing_salary)

In [16]:
df.loc[:, 'Min Salary'] = df['Min Salary'].astype(int)
df.loc[:, 'Max Salary'] = df['Max Salary'].astype(int)

In [17]:
df.drop(columns='Salary Estimate dup', inplace=True)
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Min Salary,Max Salary
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,83000,153000
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,71000,133000
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,94000,183000
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,48000,78000
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist,135200,156000

# Q2: What information can you extract out of job descriptions?

In [18]:
df['Job Description'].nunique()

652

In [19]:
#df['Job Description'].unique()

In [20]:
import pandas as pd
import re

keywords = ['we', 'our', 'company', 'job', 'agency', 'team', 'work', 'seeking', 'working', 'position', 'data', 'medicine', 'duties', 'responsibilities', 'competitive pay']

# Function to clean and extract statements
def extract_statements(text, keywords, num_statements=3):
    # Clean text
    text = re.sub(r'\n+', ' ', text)  # Replace newlines with spaces
    text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
    text = re.sub(r'\\u[0-9A-Fa-f]{4}', '', text)
    
    text = text.lower() 
    
    statements = re.split(r'\.\s*|\!\s*|\?\s*', text) #so, 'statements' hold a list
    
    relevant_statements = [stmt for stmt in statements if any(keyword in stmt for keyword in keywords)] 
    
    return ';'.join(relevant_statements[:num_statements])


df['Extracted Statements'] = df['Job Description'].apply(lambda x: extract_statements(x, keywords))

In [21]:
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Min Salary,Max Salary,Extracted Statements
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,83000,153000,our company changing the world through digital...
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,71000,133000,introduction ranked by forbes as one of the wo...
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,94000,183000,the microsoft 365 team is looking for a data s...
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,48000,78000,from medical supplies and electronics to food ...
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist,135200,156000,the team: at client’s artificial intelligence ...

In [22]:
df.isnull().sum()

Job Title               0
Salary Estimate         0
Job Description         0
Rating                  0
Company Name            0
Location                0
Size                    0
Founded                 0
Type of ownership       0
Industry                0
Sector                  0
Revenue                 0
Role type               0
Min Salary              0
Max Salary              0
Extracted Statements    0
dtype: int64

# Q3: How can you remove the numbers from the company name?

In [23]:
df['Company Name'].unique()

array(['Adobe\n4.4', 'IBM\n3.9', 'Microsoft\n4.3', 'CPChem\n3.9',
       'IVID TEK INC', 'AT&T\n3.6', 'Ascension\n3.4', 'Visa\n4.1',
       'Heluna Health\n3.3', 'Pashtek', 'Spalding Consulting, Inc.\n4.0',
       'Lawrence Berkeley National Laboratory\n4.1',
       'Publicis Media\n3.9', 'Twitch Interactive, Inc.\n3.7',
       'Chewy\n3.5', 'Colgate-Palmolive\n4.2', 'Ai Vantage',
       'Bloomberg BNA\n3.4', 'Notion\n4.9', 'Zendesk\n3.6',
       'Procter & Gamble\n4.1', 'DonorSearch\n3.8',
       'Tellus Solutions\n3.7', 'Helix Tech IT solution', 'SAP\n4.4',
       'Fulcrum Analytics', 'Tech brothers infoservices',
       'Morrison & Foerster\n3.9', 'Parafin\n4.7', 'Pinterest\n3.8',
       'Ancestry\n3.5', 'Pattern Bioscience\n4.5',
       'Burlington Stores\n3.1', 'LiveView Technologies\n4.4',
       'Old Dominion University\n4.1', 'eTeam Inc.\n4.2',
       'AllocateRite\n4.8', 'High Tech High\n3.3',
       'Galaxy Technologies\n2.6', 'JANUS Research Group\n4.0',
       'National Security Agency\n3.7', 'Skylight\n4.5',
       'Abbott Laboratories\n3.8', 'JPMorgan Chase & Co\n4.0',
       'RELX\n4.0', 'Neuberger Berman\n4.3',
       'Williams Consulting LLC\n2.4', 'Extreme Data Technologies',
       'OPS Consulting, LLC\n4.2', 'Boston Consulting Group\n4.3',
       'PearlX\n5.0', 'INTEL\n4.1', 'ClassLink, Inc.\n4.3',
       'Federal Bureau of Investigation\n4.1',
       'University of California San Francisco\n4.1', 'REVOLVE\n2.8',
       'Amazon.com Services LLC\n3.7', 'GSK\n4.1', 'Brainwave360',
       'Arch Systems, LLC',
       'US National Oceanic and Atmospheric Administration\n4.0',
       'US Cybersecurity and Infrastructure Security Agency',
       'OneMain Financial\n3.4', 'Battelle\n3.9',
       'Health Choice Network\n4.0', 'Axle Informatics\n3.4', 'Flow\n4.3',
       'GEHA\n2.8', 'Gentherm\n3.8',
       'Clifford Beers Community Care Center\n4.1', 'Camgian\n4.9',
       'Galen College of Nursing\n3.7', 'Denver Health\n3.4', 'Meta\n3.9',
       'The Associated Press\n4.0', 'BOEING\n3.9',
       'Ford Motor Company\n4.0', 'University Health\n3.9',
       'SoundThinking\n3.5', 'Inclusively\n5.0',
       'PUTNAM RECRUITING GROUP\n4.3', 'University of New Mexico\n3.8',
       'Machinify\n3.7', 'BRADY WORLDWIDE INC\n3.6',
       'FriendFinder Networks\n2.9', 'Netflix\n4.2', 'Houzz\n3.7',
       'L.E.A.D Inc.- Law Enforcement Against Drugs',
       'Kellogg Company\n3.9', 'ShyftLabs\n3.8',
       'APPIC Solutions LLC\n5.0', 'Chapter\n4.8', 'Parsons\n3.9',
       'Soothsayer Analytics\n2.9', 'HawkEye360\n3.4', 'Juristat',
       'Moderna\n3.7', 'Tencent\n4.0',
       'Oak Ridge National Laboratory\n3.9', 'Conversica\n2.7',
       'WebstaurantStore\n3.9', 'NYC Careers\n3.6',
       'Kaizen Analytix\n3.4', 'HP\n4.2', 'Caterpillar\n4.0',
       'Centers for Disease Control and Prevention\n4.0',
       'Home Depot / THD\n3.8',
       'US Securities and Exchange Commission\n4.5', 'Octaura\n5.0',
       'Eccalon LLC\n2.8', 'AG Grace Inc\n4.0',
       'Marriott International, Inc\n4.0', 'New York City Council\n3.9',
       'AppsIntegration.Inc\n2.9', "The Chefs' Warehouse\n3.4",
       'Hyperspace Ventures\n4.2', 'LexisNexis\n3.9',
       'US Customs and Border Protection\n4.1', 'Ekimetrics\n4.1',
       'NXP Semiconductors\n4.2',
       'US Federal Energy Regulatory Commission\n4.2',
       'US Federal Bureau of Investigation\n4.1',
       'Western New Mexico University\n3.4', 'Yale University\n4.2',
       'Sasol\n3.9', 'McAfee, LLC\n3.8', 'Altria\n3.9', 'Zoox\n4.1',
       'Mercer\n3.9', 'RB Consulting Inc.\n3.5', 'GeneDx\n2.5',
       'Wise Equation Solutions\n4.9',
       'Federal Reserve Bank of Dallas\n3.9', 'Veracity Software\n4.1',
       'GHX\n3.6', 'TikTok\n3.5', 'Fullpower Technologies, Inc.\n4.3',
       'Fidelity Investments\n4.3', 'University of Rochester\n3.6',
       'IT Consulting Services\n4.5', 'SoftDev Incorporated\n3.7',
       'Johnson & Johnson\n4.2', 'Asana\n4.3',
       'Blue Cross and Blue Shield of North Carolina\n4.2',
       'Rocket Software\n4.2', 'TechCoreGlobal',
       'Auto-Owners Insurance\n3.6', 'Quizlet\n3.8', 'Konnectingtree',
       'OTS Solutions\n4.6', "McDonald's Corporation\n3.5",
       'Covenant Eyes\n4.3', 'Disney\n3.9',
       'The Mosaic Company (Tampa, FL)\n4.0', 'Booz Allen Hamilton\n4.2',
       'Lightsource BP\n4.2', 'CALICO\n4.1', 'The Infosoft Group\n4.3',
       'Spring Health\n3.5', 'Stanford University\n4.2',
       'Forge Global\n4.3', 'NVIDIA\n4.6', 'Salesforce\n4.1', 'Dataline',
       'PayPal\n4.0', 'KBR\n3.9',
       'US Department of the Air Force - Agency Wide\n4.1',
       'Stanford Health Care\n3.9', 'KOHLS\n3.4',
       'Banfield, The Pet Hospital\n3.0', 'Pattern\n4.5',
       'Ecosystem Planning and Restoration, LLC\n5.0', 'Conde Nast\n3.7',
       'Leidos\n3.8', 'Coinbase\n3.7', 'Public Consulting Group\n3.8',
       'Tau', 'Aptos\n4.0', 'Arthrex\n3.8', 'Intuit\n4.5',
       'REPS & Co.\n4.5', 'Attadale Partners', 'Rec Room\n4.5',
       'SpaceX\n3.9', 'ABS Consulting\n3.7', 'BNY Mellon\n3.6',
       'Torc Robotics\n4.3', 'Remitly\n4.1',
       'eureka strategic consulting', 'Cedar Inc\n4.5',
       'Panasonic Avionics Corporation\n3.2', 'CEDARS-SINAI\n4.1',
       'Atlassian\n4.3', 'Stitch Fix\n3.3', 'Faire\n4.6',
       'Shell Energy Solutions\n4.1', 'Na Oiwi Kane',
       'US National Agricultural Statistics Service',
       'Rockstar Games\n4.3', 'Wintrust Financial\n3.9',
       'The State of New Hampshire\n3.5', 'LG Electronics U.S.\n2.9',
       'Ferrovial external\n3.5', 'U.S. Securities & Exchange Commission',
       'Roblox\n4.1', 'Health Alliance Plan\n3.6',
       'Webster Financial Corp\n3.5', 'Mount Sinai\n3.5',
       'Applied Engineering, Inc\n4.0', 'Schreiber Foods\n3.7',
       'Mayo Clinic\n3.9', 'SentiLink\n5.0', 'Realtor.com Careers\n3.7',
       'HCSC\n3.9', 'Indiana University Health\n3.5', 'eimagine\n3.9',
       'Syneos Health Clinical\n3.8', 'Nordstrom Inc\n3.7',
       'MST Solutions\n4.2', 'Cyberhill Partners LLC\n1.0',
       'AmeriHealth Caritas\n3.4', 'Evolve Vacation Rentals\n2.9',
       'RSM US LLP\n4.0', 'PG&E Corporation\n4.0', 'Bop LLC\n3.7',
       'BAE Systems\n4.0', 'Freshworks\n3.8',
       'Ochsner Health System\n3.6', 'LinQuest Corporation\n4.0',
       'Movable Ink\n3.9', 'US Internal Revenue Service\n3.6',
       'GE Healthcare\n4.3', 'Americo\n3.8', 'Bayer\n3.9', 'Tesla\n3.6',
       'Podium\n3.4', 'National Renewable Energy Laboratory\n3.8',
       'Otsuka\n3.9', 'Pinnacle Soft Solutions', 'DeepHealth\n4.0',
       'AppLovin\n3.7', 'Keystone Strategy\n4.0',
       'Merck Sharp & Dohme\n4.2', 'Sephora\n3.7', 'Airbnb\n4.4',
       'ABBVIE\n3.9', 'Discover Financial Services\n3.8', 'Kyla\n3.5',
       'Azurity Pharmaceuticals\n3.0', 'ServiceNow\n4.4',
       'Colony Brands, Inc.\n3.8', 'f5\n4.0', 'Lincoln Financial\n3.6',
       'Ramp Financial\n4.3', 'CSX\n2.9', 'Deloitte\n4.0',
       'New York City Housing Development Corporation (HDC)\n3.9',
       'Grange Insurance Company\n3.8', 'Edaptive Computing, Inc.\n3.8',
       'ICR inc.\n4.6', 'First American Financial Corporation\n3.8',
       'QSC, LLC\n4.0', 'Red Alpha LLC\n5.0', 'Coalition\n4.5',
       'Endpoint Closing\n3.7', 'The Swift Group', 'Imprivata\n3.5',
       'Grammarly, Inc.\n4.4', 'Bristol Myers Squibb\n3.9',
       'ManTech International Corporation\n4.3',
       'Federal Reserve Bank of Minneapolis\n3.9', 'Databricks\n4.5',
       'Quora\n4.4', 'Evolve\n2.9', 'Moveworks.ai\n3.9', 'Comcast\n3.8',
       'Sonasoft Corp.', 'Genentech\n4.2',
       'MASS MUTUAL FINANCIAL GROUP\n4.0',
       'Mediacom Communications Corporation\n4.0', 'Hilabs\n3.7',
       'City of Hope\n3.9', 'Consumer Products Games & Publishing',
       'Verizon\n3.8', 'Cognizant Technology Solutions\n3.8',
       'BrainTrust\n4.4', 'AKASA\n3.4', 'Motorola Solutions\n4.0',
       'Beckman Coulter Diagnostics\n3.6', 'Capgemini\n3.7',
       'J80 CINTRA US SERVICES LLC\n3.5', 'Pfizer\n4.1',
       'CGI Group, Inc.\n3.9',
       'University of North Carolina at Chapel Hill\n4.0', 'Etsy\n4.5',
       'Rokt\n3.9', 'Prescient Edge Federal\n4.3',
       'Disney Media & Entertainment Distribution\n3.9',
       'Vita Data Sciences\n1.0', 'Docugami\n5.0', 'Discord\n3.1',
       'Iron EagleX\n4.9', 'NatureServe', 'Nike\n4.2', 'ECS Federal\n4.1',
       'Gopuff\n3.0', 'Kraft Heinz Company\n3.5', 'IQVIA\n4.0',
       'Changeis\n4.5', 'MilliporeSigma\n3.9', 'Unity Technologies\n3.4',
       'Mercy\n3.6', 'Vanguard\n3.7', 'Afterpay\n3.7',
       'Ally Financial\n3.7', 'UFG Insurance\n3.5', 'Walmart\n3.4',
       'Public Storage\n2.9', 'Bamboo Health\n3.4',
       'American Honda Motor Co\n3.3', 'Foursquare\n3.6',
       'MedeAnalytics\n3.0', 'Octo\n4.2', 'bioMerieux SA\n4.1',
       'Maritz Inc.\n3.9', 'VIZIO, Inc.\n2.4', 'Kimberly-Clark\n4.1',
       'CrowdStrike\n4.3', 'Stellantis\n3.6', 'Albertsons Companies\n3.5',
       'Lam Research\n4.0', 'University of Maryland Medical System\n3.3',
       'Global Healthcare Exchange, Inc.\n3.6', 'Archetype\n4.2',
       'Jefferson Lab\n4.1', 'Adela, Inc.', 'Exelixis, Inc.\n2.9',
       'PlayStation Global\n4.0', 'University of Phoenix\n4.1',
       'Activision\n3.5', 'Standard Biotools\n3.1',
       'Amazon Web Services, Inc.\n3.8', 'CoreLogic\n3.9',
       'Advanced Technology and Research Corporation\n3.5',
       'Orbis Operations, LLC\n3.9', 'Costco Wholesale\n3.9',
       'Genmab\n4.2', 'Think Bioscience', "Children's Health\n4.2",
       'Iodine Software, LLC\n4.2', 'D-Tech', 'Zartico', 'LiveRamp\n3.5',
       'Integration Innovation, Inc.\n4.2', 'Scismic\n3.1',
       'Software Bloc', 'Teknatio\n4.7',
       'The Travelers Companies, Inc.\n4.1',
       'Bonneville Communications\n2.2', 'Northeastern University\n4.2',
       'UT Southwestern\n3.9', 'SysIntelli\n4.3',
       'University of Washington\n4.2',
       'Blue Cross Blue Shield of Massachusetts\n3.8',
       "Gillette Children's\n4.1", 'RS21 Careers',
       'Consumer Reports\n3.3', 'Fuse Engineering LLC\n5.0', 'BICP\n5.0',
       'Health Advocate\n2.8', 'WSP\n3.7',
       'Government Tactical Solutions\n4.4',
       'Intelliswift Software, Inc.\n4.1',
       'People, Technology & Processes\n3.4', 'AMERICAN SYSTEMS\n4.2',
       'Logistics Management Institute\n4.2', 'Camping World\n3.1',
       'Globalmax Solutions', 'Peraton\n3.6',
       'Virtus Investment Partners, Inc.\n3.5', 'UPMC\n3.2',
       'Mary Kay Inc\n4.1', 'Cognitio\n4.3', 'GRAIL\n3.6',
       'CloudBerg Tec\n5.0', 'Dutech Systems\n4.5',
       'Michaels Stores, Inc.\n3.2', 'BTS Software Solutions\n4.9',
       'Sandhills Global, Inc.\n3.2',
       'Horizon Blue Cross Blue Shield of New Jersey\n3.3',
       'ByteDance\n3.9', 'Zynga\n4.4', 'Air Liquide\n3.8',
       'Ampcus Incorporated\n3.9',
       "Connecticut Children's Medical Center\n3.7", 'Talent Group\n2.3',
       'CarMax\n3.8', 'EVRY India\n4.0', 'University of Maryland\n4.2',
       'Mastercard\n4.3', 'University of Maryland, Baltimore\n3.8',
       'Cash App\n4.3', 'Cambridge Mobile Telematics\n4.5',
       'DTE Energy\n3.9', 'Brunswick Corporation\n4.0', 'Barclays\n4.0',
       'Assertive Professionals\n4.8', 'Ryden Global LLC', 'Mars\n4.3',
       'NORC at the University of Chicago\n3.8', 'Chirality Research',
       'Excelacom\n3.2', 'New York Life Insurance Co\n3.7',
       'Evolent Health\n3.8', 'MetroStar\n3.6',
       'Objective Medical Systems',
       'US Office of the Secretary of Transportation\n3.9', 'withco',
       'Frost Bank\n4.2', 'NielsenIQ\n3.9',
       'Clarity Innovations, LLC\n4.8', 'Qcells\n3.0', 'DISH\n2.9',
       'Pareto Intelligence\n3.6', 'TaxSlayer\n3.9', 'Finastra\n3.8',
       'Colsh Consultants\n4.5', 'BTAS\n3.8',
       'Federal Reserve Bank of St. Louis\n2.5',
       'Macmillan Learning\n3.9', 'LA Fitness\n3.1', 'wiselinkglobal',
       'Signature Science, LLC\n3.7', 'Noblis\n4.5', '-1',
       'John Hancock\n4.0', "Moody's\n3.9", 'Applanix\n4.2',
       'GroupM Nexus Xaxis\n3.9', 'Fabrx Space', 'Intone Networks\n4.3',
       'Electronic Arts\n4.0', 'Demandbase\n4.3',
       'Petrabytes Corporation', 'Caelum Research Corporation\n3.7',
       'Study.com\n3.1', 'SimpliSafe\n3.6', 'Honda Center\n4.0',
       'The University of Pittsburgh\n3.9', "Sam's Club\n3.3",
       'Echo Global Logistics\n3.9', 'Freddie Mac\n3.4',
       'Raptor Scientific\n5.0', 'Syracuse University\n4.2',
       'Raptor Scientific', 'Cleveland Clinic\n3.7', 'IDEASVOICE',
       'Camden Coalition of Healthcare\n3.8', 'Instacart\n3.6',
       'Rivian\n3.4', 'Kaiser Permanente\n3.9', 'Huntington Bank\n3.7',
       'Radiance Technologies\n4.5', 'Tecolote Research, Inc.\n4.2',
       'US Veterans Health Administration\n3.7', 'DLA Piper\n3.9',
       'Abrigo\n4.2', 'Advance OC', 'Lucid Motors\n3.2', 'Bytoa\n5.0',
       'ADVANCED MANAGEMENT STRATEGIES GROUP(AMSG)\n4.7', 'DUOPEAK',
       'CSafe Global\n3.4', 'University of Colorado\n3.8',
       'Wavestone\n4.1', 'Cloudwick', 'Fiserv, Inc.\n3.1', 'Udemy\n4.1',
       'Early Warning Services\n3.0', 'Big Data Federation',
       '1904labs\n4.9', 'Hilton Grand Vacations\n3.6',
       'BeVera Solutions LLC\n5.0', 'Atto Trading',
       'Technology Solutions Partners', 'Block\n3.3',
       'NewMarket Services Corporation\n2.7',
       'Integrated Intel Solutions\n3.5', 'Aderas, Inc\n4.5',
       'IntelliDyne\n4.3', 'Mayvue',
       'Boehringer Ingelheim Animal Health USA\n4.1', 'PetSmart\n3.3',
       'Nexlogica', 'WHOOP\n3.5', 'TJX Companies\n3.6',
       'Axiologic Solutions\n4.1', 'Medline Industries Inc\n3.7',
       'Nationwide IT Services, Inc\n3.7', 'Coupang\n3.6',
       'Source Mantra\n3.3', 'Zartico, Inc.',
       'US Federal Aviation Administration\n4.0',
       'Arkansas Blue Cross and Blue Shield\n4.1',
       'Siemens Digital Industries Software\n4.2', 'ADM Associates\n3.7',
       'APS\n4.1', 'Oasis Systems LLC\n4.4', 'Rite Pros\n3.4',
       'Cognowiz solutions LLC', 'Chegg\n4.1', 'Epsilon\n3.9',
       'Physical Sciences Inc.\n3.8', 'HR, Legal, & Administration\n2.7',
       'Alpha Facilities Solutions\n3.7', 'Novo Nordisk\n4.3',
       'WEX Inc.\n3.8', 'Dollar Tree\n3.0', 'Fooda\n3.8', 'DeepVu',
       'QVine Corporation\n3.9', 'RWE\n4.2', 'Hinge Health\n3.9',
       'Sabal Tech', 'Breeze Airways™\n2.8',
       'Cal-Tex Protective Coatings, Inc.', 'Freeport McMoRan\n4.1',
       'Trajector\n3.6', 'Klaviyo\n3.9', 'Connect Talent Solutions\n5.0',
       'Erstom', 'EpochGeo\n5.0', 'QVC\n3.3', "Lowe's\n3.5",
       'Princeton University\n4.5', 'Getty Images\n4.4',
       'Medical College of Wisconsin\n3.8', 'INTERDIGITAL COMM CORP\n3.8',
       'Medical Mutual of Ohio\n3.9', 'Kumo\n5.0',
       'Hearst Media Services\n3.6', "TRA'BIAN ENTERPRISES",
       'Q2A Media Services Pvt Ltd', 'SS&C\n3.1',
       'Ignite Fueling Innovation\n3.9', 'Cognowiz\n4.9', 'Arcfield\n4.1',
       'Verdant Infotech Solutions', 'Plymouth Rock Assurance\n3.0',
       'Cydcor\n4.3', 'Green Dot Corporation\n3.1', 'S4 Market Data',
       'The University of Iowa\n3.9', 'The JAAW Group'], dtype=object)

In [24]:
pattern = r'\n\d\.\d'

try:
    df['Company Name'] = df['Company Name'].apply(lambda x: re.sub(pattern ,'', x))
except Exception as e:
    print(f'error is {e}')

df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Min Salary,Max Salary,Extracted Statements
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,83000,153000,our company changing the world through digital...
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,71000,133000,introduction ranked by forbes as one of the wo...
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,94000,183000,the microsoft 365 team is looking for a data s...
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,48000,78000,from medical supplies and electronics to food ...
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist,135200,156000,the team: at client’s artificial intelligence ...

# Q4: How can you create some new features? (e.g. state column from the location column)

In [25]:
df['Location'].unique()

array(['San Jose, CA', 'Atlanta, GA', 'Redmond, WA', 'The Woodlands, TX',
       'Remote', 'Dallas, TX', 'Washington, DC', 'Los Angeles, CA',
       'Arizona City, AZ', 'Havelock, NC', 'San Francisco, CA',
       'New York, NY', 'California', 'Plantation, FL', 'Piscataway, NJ',
       'Boston, MA', 'Chapel Hill, NC', 'Palo Alto, CA', 'United States',
       'Austin, TX', 'Edgewater Park, NJ', 'American Fork, UT',
       'Norfolk, VA', 'Greensboro, NC', 'Point Loma', 'Riverside, CA',
       'Newport News, VA', 'Fort Meade, MD', 'Sarasota, FL',
       'Alameda, CA', 'Columbus, OH', 'Raleigh, NC', 'East Orange, NJ',
       'Annapolis Junction, MD', 'Chicago, IL', 'Charlottesville, VA',
       'Santa Clara, CA', 'Pittsburgh, PA', 'Cerritos, CA',
       'San Diego, CA', 'Collegeville, PA', 'Boulder, CO',
       'Arlington, VA', 'Wilmington, DE', 'Mason, OH', 'Miami, FL',
       'Rockville, MD', 'Farmington Hills, MI', 'New Haven, CT',
       'Starkville, MS', 'Louisville, KY', 'Denver, CO', 'Menlo Park, CA',
       'Hazelwood, MO', 'Dearborn, MI', 'San Antonio, TX', 'Fremont, CA',
       'Dover, DE', 'Albuquerque, NM', 'Milwaukee, WI', 'Los Gatos, CA',
       'Allentown, NJ', 'Battle Creek, MI', 'Foster City, CA',
       'Livonia, MI', 'Herndon, VA', 'Cambridge, MA', 'Oak Ridge, TN',
       'Seattle, WA', 'Lititz, PA', 'Manhattan', 'Spring, TX',
       'Morton, IL', 'Burlingame, CA', 'Hanover, MD', 'Fort Gordon, GA',
       'Bethesda, MD', 'Ridgefield, CT', 'Durham, NC', 'Huntsville, AL',
       'Silver City, NM', 'Lake Charles, LA', 'Richmond, VA',
       'Gaithersburg, MD', 'Iselin, NJ', 'Louisville, CO',
       'Santa Cruz, CA', 'Westlake, TX', 'Rochester, NY',
       'Fairless Hills, PA', 'Titusville, NJ', 'Pueblo, CO',
       'Philadelphia, PA', 'Lansing, MI', 'Gordon, GA', 'Kissimmee, FL',
       'Tampa, FL', 'Columbia, MD', 'South San Francisco, CA',
       'Rosemont, IL', 'Stanford, CA', 'Princeton, NJ',
       'Colorado Springs, CO', 'Fort Washington, MD',
       'Menomonee Falls, WI', 'Vancouver, WA', 'Lehi, UT',
       'Mountain View, CA', 'Cary, NC', 'Redwood City, CA', 'Naples, FL',
       'Schaumburg, IL', 'Hawthorne, CA', 'Lake Mary, FL', 'Irvine, CA',
       'Waltham, MA', 'Houston, TX', 'Bowling Green, VA', 'Andover, MA',
       'Concord, NH', 'Englewood Cliffs, NJ', 'Detroit, MI',
       'San Mateo, CA', 'Stamford, CT', 'Fargo, ND', 'Green Bay, WI',
       'Rochester, MN', 'Maryland', 'Indianapolis, IN', 'Phoenix, AZ',
       'McLean, VA', 'Robbinsville, NJ', 'Oakland, CA', 'Madison, WI',
       'Folsom, CA', 'New Orleans, LA', 'San Ramon, CA',
       'Kansas City, MO', 'Golden, CO', 'Cedar Park, TX', 'Rahway, NJ',
       'Jersey City, NJ', 'Santa Monica, CA', 'Worcester, MA',
       'Riverwoods, IL', 'Woburn, MA', 'Monroe, WI', 'Liberty Lake, WA',
       'Charlotte, NC', 'Jacksonville, FL', 'Dayton, OH', 'Aurora, CO',
       'Santa Ana, CA', 'Costa Mesa, CA', 'Chillicothe, IL',
       'Chantilly, VA', 'Minneapolis, MN', 'Chester, NY', 'Duarte, CA',
       'Basking Ridge, NJ', 'Plano, TX', 'Brea, CA', 'Lafayette, LA',
       'Brooklyn, NY', 'Iowa City, IA', 'Kirkland, WA',
       'Hurlburt Field, FL', 'Beaverton, OR', 'Illinois',
       'Burlington, MA', 'Chesterfield, MO', 'Cedar Rapids, IA',
       'Bentonville, AR', 'Glendale, CA', 'Reston, VA', 'Fenton, MO',
       'Neenah, WI', 'Auburn Hills, MI', 'Pleasanton, CA',
       'Linthicum Heights, MD', 'Fort Lauderdale, FL',
       'Salt Lake City, UT', 'California, MD', 'Hartford, CT',
       'Saint Paul, MN', 'Culver City, CA', 'Fort Eustis, VA',
       'Lincolnshire, IL', 'Rochester, MI', 'Des Moines, IA',
       'Irving, TX', 'Oak Brook, IL', 'Lincoln, NE', 'Newark, NJ',
       'Sunnyvale, CA', 'Ashburn, VA', 'Newport, DE', 'College Park, MD',
       'Baltimore, MD', 'Mettawa, IL', 'New York State', 'Quantico, VA',
       'Houma, LA', 'Danvers, MA', 'Augusta, GA', 'Hampton, VA',
       'Saint Louis, MO', '-1', 'Westminster, CO', 'Anaheim, CA',
       'Livermore, CA', 'Syracuse, NY', 'Cleveland, OH', 'Camden, NJ',
       'Downey, CA', 'Plymouth, MN', 'Suitland, MD', 'Bellevue, WA',
       'San Bruno, CA', 'San Juan Capistrano, CA', 'Newark, CA',
       'Monroe, OH', 'Paris, TX', 'Portland, OR', 'Orlando, FL',
       'Miami Beach, FL', 'Olathe, KS', 'Springfield, VA',
       'Falls Church, VA', 'Duluth, GA', 'Marlborough, MA',
       'Libertyville, IL', 'Fairfax, VA', 'Little Rock, AR', 'Reno, NV',
       'Portland, ME', 'Sartell, MN', 'Smithfield, RI', 'Chesapeake, VA',
       'Berkeley, CA', 'Schertz, TX', 'Gainesville, FL',
       'West Chester, PA', 'Crystal Lake, IL', 'Conshohocken, PA',
       'Brooklyn, OH', 'Troy, MI', 'Secaucus, NJ', 'Pasadena, CA',
       'Agoura Hills, CA', 'Trenton, NJ', 'Cottonwood Heights, UT'],
      dtype=object)

In [26]:
try:
    df['State'] = df['Location'].apply(lambda x: re.split(',', x)[-1])
    df['Location'] = df['Location'].replace({'-1': 'Missing'})
    df['State'] = df['State'].replace({
        'California': 'CA',
        'United States': 'USA',
        'Maryland': 'MD',
        'Illinois': 'IL',
        'New York State': 'NY',
        'Point Loma': 'CA',
        'Manhattan': 'NY',
        '-1': 'Missing'
    })
except Exception as e:
    print(f'{e}')

df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Min Salary,Max Salary,Extracted Statements,State
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,83000,153000,our company changing the world through digital...,CA
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,71000,133000,introduction ranked by forbes as one of the wo...,GA
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,94000,183000,the microsoft 365 team is looking for a data s...,WA
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,48000,78000,from medical supplies and electronics to food ...,TX
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,-1.0,IVID TEK INC,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,Data Scientist,135200,156000,the team: at client’s artificial intelligence ...,Remote

In [27]:
df['State'].unique()

array([' CA', ' GA', ' WA', ' TX', 'Remote', ' DC', ' AZ', ' NC', ' NY',
       'CA', ' FL', ' NJ', ' MA', 'USA', ' UT', ' VA', ' MD', ' OH',
       ' IL', ' PA', ' CO', ' DE', ' MI', ' CT', ' MS', ' KY', ' MO',
       ' NM', ' WI', ' TN', 'NY', ' AL', ' LA', ' NH', ' ND', ' MN', 'MD',
       ' IN', ' IA', ' OR', 'IL', ' AR', ' NE', 'Missing', ' KS', ' NV',
       ' ME', ' RI'], dtype=object)

# Some transformations over data

In [28]:
df['Rating'].unique()

array([ 4.4,  3.9,  4.3, -1. ,  3.6,  3.4,  4.1,  3.3,  4. ,  3.7,  3.5,
        4.2,  4.8,  4.7,  3.8,  4.5,  3.1,  2.6,  2.4,  5. ,  2.7,  4.9,
        2.9,  2.8,  2.5,  4.6,  3. ,  3.2,  1. ,  2.2,  2.3])

In [29]:
df = df.replace('-1', 'Missing')

In [30]:
df.loc[df['Rating'] == -1., 'Rating'] = 0
df.loc[df['Founded'] == -1, 'Founded'] = 'Missing'

In [31]:
df['Revenue'].unique()

array(['$5 to $10 billion (USD)', '$10+ billion (USD)',
       'Unknown / Non-Applicable', '$25 to $100 million (USD)',
       '$500 million to $1 billion (USD)', '$5 to $25 million (USD)',
       '$100 to $500 million (USD)', '$1 to $5 billion (USD)', 'Missing',
       '$1 to $5 million (USD)', 'Less than $1 million (USD)'],
      dtype=object)

In [32]:
df['Revenue'] = df['Revenue'].replace('Missing', 'Unknown / Non-Applicable')
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Role type,Min Salary,Max Salary,Extracted Statements,State
0,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),Data Scientist,83000,153000,our company changing the world through digital...,CA
1,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),Data Scientist,71000,133000,introduction ranked by forbes as one of the wo...,GA
2,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),Data Scientist,94000,183000,the microsoft 365 team is looking for a data s...,WA
3,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),Data Scientist,48000,78000,from medical supplies and electronics to food ...,TX
4,Data Scientist (C),Employer Provided Salary:$65.00 - $75.00 Per Hour,The Team:\nAt Client’s Artificial Intelligence...,0.0,IVID TEK INC,Remote,1 to 50 Employees,Missing,Company - Public,Missing,Missing,Unknown / Non-Applicable,Data Scientist,135200,156000,the team: at client’s artificial intelligence ...,Remote

In [33]:
df = df[['Role type', 'Min Salary', 'Max Salary', 'Extracted Statements', 'Rating', 'Company Name', 'Location', 'State', 'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue']]

In [34]:
# FINAL CLEANED DATASET
df.head(30)

,Role type,Min Salary,Max Salary,Extracted Statements,Rating,Company Name,Location,State,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,83000,153000,our company changing the world through digital...,4.4,Adobe,"San Jose, CA",CA,10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
1,Data Scientist,71000,133000,introduction ranked by forbes as one of the wo...,3.9,IBM,"Atlanta, GA",GA,10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
2,Data Scientist,94000,183000,the microsoft 365 team is looking for a data s...,4.3,Microsoft,"Redmond, WA",WA,10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
3,Data Scientist,48000,78000,from medical supplies and electronics to food ...,3.9,CPChem,"The Woodlands, TX",TX,1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)
4,Data Scientist,135200,156000,the team: at client’s artificial intelligence ...,0.0,IVID TEK INC,Remote,Remote,1 to 50 Employees,Missing,Company - Public,Missing,Missing,Unknown / Non-Applicable
5,Data Scientist,141000,254000,position: senior data scientist job location: ...,3.6,AT&T,"Dallas, TX",TX,10000+ Employees,1876,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD)
6,Data Scientist,85000,85000,details department: workforce planning and ana...,3.4,Ascension,Remote,Remote,10000+ Employees,1902,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable
7,Data Scientist,102000,138000,company description visa is a world leader in ...,4.1,Visa,"Washington, DC",DC,10000+ Employees,1958,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
8,Data Scientist,106080,142937,72 per hour community programs is a program of...,3.3,Heluna Health,"Los Angeles, CA",CA,1001 to 5000 Employees,1968,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$25 to $100 million (USD)
9,Data Scientist,106000,168000,job title: data scientist - 100% remote locati...,0.0,Pashtek,"Arizona City, AZ",AZ,1 to 50 Employees,Missing,Company - Private,Missing,Missing,Unknown / Non-Applicable
10,Data Scientist,88000,133000,is seeking a data scientist at mcas cherry poi...,4.0,"Spalding Consulting, Inc.","Havelock, NC",NC,201 to 500 Employees,2001,Company - Private,Aerospace & Defense,Aerospace & Defense,$25 to $100 million (USD)
11,Data Scientist,122000,175000,lawrence berkeley national laboratory has mult...,4.1,Lawrence Berkeley National Laboratory,"San Francisco, CA",CA,1001 to 5000 Employees,1931,Government,Research & Development,Management & Consulting,$500 million to $1 billion (USD)
12,Data Scientist,70000,105000,company description read this first: if you ha...,3.9,Publicis Media,"New York, NY",NY,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD)
13,Data Scientist,193440,251680,introduction as a associate data scientist at ...,3.9,IBM,"Atlanta, GA",GA,10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
14,Data Scientist,112000,112000,3+ years of domain experience in a consumer in...,3.7,"Twitch Interactive, Inc.",California,CA,10000+ Employees,1994,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
15,Data Scientist,82000,123000,our opportunity: chewy is looking for data sci...,3.5,Chewy,"Plantation, FL",FL,10000+ Employees,2011,Company - Public,Pet & Pet Supplies Stores,Retail & Wholesale,$5 to $25 million (USD)
16,Data Scientist,112000,165000,"at colgate, we offer you the chance to be a pa...",4.2,Colgate-Palmolive,"Piscataway, NJ",NJ,10000+ Employees,1806,Company - Public,Consumer Product Manufacturing,Manufacturing,$10+ billion (USD)
17,Data Scientist,130000,150000,roles & responsibilities: provides support of ...,0.0,Ai Vantage,Remote,Remote,Unknown,Missing,Company - Public,Missing,Missing,Unknown / Non-Applicable
18,Data Scientist,121000,169000,you are a research scientist and engineer who ...,3.5,Bloomberg BNA,"Washington, DC",DC,1001 to 5000 Employees,1929,Company - Private,Publishing,Media & Communication,$100 to $500 million (USD)
19,Data Scientist,160000,255000,about us: we're on a mission to make it possib...,4.8,Notion,"New York, NY",NY,501 to 1000 Employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
20,Data Scientist,102000,152000,job description zendesk is looking for a data ...,3.6,Zendesk,Remote,Remote,1001 to 5000 Employees,2007,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 billion (USD)
21,Data Scientist,125000,145000,job location boston job description the procte...,4.1,Procter & Gamble,"Boston, MA",MA,10000+ Employees,1837,Company - Public,Consumer Product Manufacturing,Manufacturing,$10+ billion (USD)
22,Data Scientist,60000,64000,background: donorsearch is the leading provide...,4.0,DonorSearch,Remote,Remote,1 to 50 Employees,Missing,Company - Public,Accounting & Tax,Financial Services,Unknown / Non-Applicable
23,Data Scientist,106080,108160,job description: responsibilities: project inv...,3.7,Tellus Solutions,Remote,Remote,51 to 200 Employees,2006,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
24,Data Scientist,114000,122000,about us we are professional and agile;our wor...,0.0,Helix Tech IT solution,"Chapel Hill, NC",NC,Missing,Missing,Missing,Missing,Missing,Unknown / Non-Applicable
25,Data Scientist,130000,146000,requisition id: 377004 work area: information ...,4.4,SAP,"Palo Alto, CA",CA,10000+ Employees,1972,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD)
26,Data Scientist,100000,130000,"at fulcrum, we provide cutting-edge data scien...",0.0,Fulcrum Analytics,Remote,Remote,Missing,Missing,Missing,Missing,Missing,Unknown / Non-Applicable
27,Data Scientist,60000,140000,"we are looking for junior, mid-level or senior...",0.0,Tech brothers infoservices,Remote,Remote,Unknown,Missing,Company - Public,Missing,Missing,Unknown / Non-Applicable
28,Data Scientist,105000,157000,"morrison foerster llp, an am law 50 law firm w...",3.9,Morrison & Foerster,United States,USA,1001 to 5000 Employees,1883,Private Practice / Firm,Legal,Legal,$1 to $5 billion (USD)
29,Data Scientist,150000,175000,"about us: at parafin, our mission is to grow s...",4.7,Parafin,"San Francisco, CA",CA,51 to 200 Employees,2020,Company - Private,Financial Transaction Processing,Financial Services,Unknown / Non-Applicable